body {
    font-family: Arial, sans-serif;
    padding: 0px 30px 0px 30px;
    margin: 0;
    /* 超出隐藏 */
    overflow: hidden;
    overflow-y: auto;
    background-color: #671d1d;
  }
  nav {
    background-color: rgb(91, 7, 7);
    overflow: hidden;
  }

  nav a {
    float: left;
    /* 块级元素 */
    display: block;
    color: rgb(254, 254, 254);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    cursor: pointer;
  } nav img {
    width: 50px;
    height: 50px;
    float: left;
  }
  .img{
    border-radius: 50%;
  }
  #ads {
    width: 85%;
    height: 300px;
    text-align: center;
    padding: 20px;
    margin: 0 auto;
    background-color: #f0f0f0;
  }

  #ads div {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    /* background-image: url(./08.png); */
    color: aquamarine;
    background-size: 100% 100%;
  }
#ads video{
  width: 100%;
  height: 100%;
}
.top-left{
    width: 100%;
    height: 950px;
    background-color: #eae7e7;
}
.right-one div{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    justify-content: space-between;
}
.imgDisable img{
    margin-right: 30px;
    margin-left: 30px;
    width: 150px;
    height: 150px;
}
.imgDisablebig img{
    margin-right: 30px;
    margin-left: 30px;
    width: 250px;
    height: 150px;
}

.topDisable{
    margin: 30px 60px 0px 50px;
}
h3{
    margin: 5px 30px;
}
footer {
  background-color: #5b1919;
  color: white;
  text-align: center;
  padding: 10px;
  height: 5vh;
  /* position: absolute; */
  width: 100%;
  bottom: 0;
}