 body {
      font-family: Arial, sans-serif;
      padding: 0px 30px 0px 30px;
      margin: 0;
      /* 超出隐藏 */
      overflow: hidden;
      overflow-y: auto;
      background-color: #671d1d;
    }

    nav {
      background-color: rgb(91, 7, 7);
      overflow: hidden;
    }

    nav a {
      float: left;
      /* 块级元素 */
      display: block;
      color: rgb(254, 254, 254);
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      cursor: pointer;
    }
    h2{
        color: #f0eeee;
    }
h4{
  margin: 0;
  padding: 2;
}
    nav img {
      width: 50px;
      height: 50px;
      float: left;
    }
    .img{
      border-radius: 50%;
    }
    nav a:hover {
      background-color: #500303;
      color: rgb(232, 120, 120);
    }

    section {
      /* css中弹性盒子 */
      display: flex;
      flex-wrap: wrap;
    }

    #ads {
      width: 85%;
      height: 300px;
      text-align: center;
      padding: 20px;
      margin: 0 auto;
      background-color: #f0f0f0;
    }

    #ads div {
      width: 100%;
      height: 100%;
      margin: 0 auto;
      /* background-image: url(./08.png); */
      color: aquamarine;
      background-size: 100% 100%;
    }
#ads img{
    width: 100%;
    height: 100%;
}
    #main-content {
      overflow: hidden;
      width: 80%;
      display: flex;
      flex-wrap: wrap;
    }

    .left-section {
        width: 25%;
        box-sizing: border-box;
        padding: 10px;
        height: 317px;
    }
    .left-section img {
        border-radius: 50%;
        width: 100%;
        height: 270px;
        display: block;
        margin-bottom: 20px;
    }
    
    

    h2,
    p {
      margin: 0;
    }

    #middle-section {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      width: 100%;
      height:370px;
      background-color: #f0eeee;
      box-sizing: border-box;
      padding: 10px;
      margin: 30px 0px 20px 0px;
    }
    #middle-section img{
        width: 150px;
        height: 150px;
    }
    #middle-section p{
      margin-left: 23px;
    }
    .left{
        display: flex;

    }
    .left span{
        margin: 30px;
    }
    .right-2 {
      
      width: 20%;
      background-color: #fff;
      transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      cursor: pointer;
    }


    .right-2 div {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin: 0 auto;
      padding: 10px 30px;
    }

    .left-section{
      cursor: pointer;
      transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    

    footer {
      background-color: #5b1919;
      color: white;
      text-align: center;
      padding: 10px;
      height: 5vh;
      /* position: absolute; */
      width: 100%;
      bottom: 0;
    }