html,
body,
div,
span,
applet,
object,
iframe,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.nav {
    height: 30px;
    position: relative;
    /* margin-left: 450px; */
    background-color: rgb(190 137 137);
}

.nav li {
    float: left;
    width: 217px;
    text-align: center;
    line-height: 30px;
}

a {
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}


.headlogo {
    font-size: 36px;
    letter-spacing: 1px;
    font-family: 华文中宋;
    color: #000000;
    margin-left: 50px;
}

.headlogo2 {
    font-size: 6px;
    letter-spacing: 1px;
    font-family: 华文中宋;
    color: rgb(138, 138, 138);
    margin-left: 16px;
}

.line {
    padding: 0px;
    margin: 10px 0px;
    border-style: dotted none none;
    border-top-color: rgb(211, 211, 211);
    word-wrap: break-word;
    word-break: normal;
    color: rgb(126, 126, 126);
    font-family: Arial, 微软雅黑;
    font-size: 13px;
    line-height: 24px;
    widows: 1;
    background-color: rgb(255, 255, 255);
}

.content {
    width: 1000px;
    margin: 0 auto;
    padding-top: 70px;
}




/* <!-- banner --> */
.banner {
    margin: 0 auto;
    height: 500px;
    width: 1000px;
}

.mylunbo {
    margin: 0px auto;
    position: relative;
    width: 1000px;
    height: 530px;
    /*background-color: purple;*/
    overflow: hidden;
}
.mylunbo img {
     width: 100%;
     height: 100%;
}
.mylunbo video {
     width: 100%;
     height: 100%;
}
.mylunbo ul {
    position: absolute;
    top: 0;
    overflow: hidden;
    left: 0;
    width: 100%;
    height: 100%;
}

.mylunbo ul li img {
    width: 100%;
    height: 100%;
}





.foots {
    height: 30px;
    background-color: #000000;
}

.content1 {
    width: 1200px;
    margin: 0 auto;
    background-color: #000000;
}

.footstext {
    height: 130px;
    background-color: #000000;
    right: 300px;
}

.footstext h1 {
    margin-left: 550px;
}

.footstext h2 {
    margin-left: 550px;
}

.footstext p {
    margin-left: 530px;
}
.contentheader {
    width: 1000px;
    margin: 5px auto;
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
}
.contentheader>div{
    width: 46%;
    height: 230px;
}

.contentheader>div>img{
    width: 100%;
    height: 100%;
}
.contentheader>div>p{
    width: 100%;
    height: 100%;
    font: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.ul-lia {
	list-style: none;
	/* 清除列表原有样式 */
	background-color: rgb(203, 36, 36);
	width: 90px;
	top: 29px;
	left: 278px;
	position: absolute;
    z-index: 1;
	display: none;
}
.huaru:hover .ul-lia {
	display: block;
}
.ul-lia>p {
	padding: 0px;
	height: 35px;
	line-height: 35px;
	color: #EEEEEE;
	font-size: 12px;
	cursor: pointer;
	border-bottom: 1px rgb(26, 25, 25) solid;
}

.ul-lia>p:hover {
	background-color: rgb(130, 6, 6);
	color: antiquewhite;
}

.ul-lib {
	list-style: none;
	/* 清除列表原有样式 */
	background-color: rgb(203, 36, 36);
	width: 90px;
	top: 29px;
	left: 500px;
	position: absolute;
    z-index: 1;
	display: none;
}
.huarb:hover .ul-lib {
	display: block;
}
.ul-lib>p {
	padding: 0px;
	height: 35px;
	line-height: 35px;
	color: #EEEEEE;
	font-size: 12px;
	cursor: pointer;
	border-bottom: 1px rgb(46, 46, 46) solid;
}

.ul-lib>p:hover {
	background-color: rgb(111, 5, 5);
	color: antiquewhite;
}