body {
    font-family: Arial, sans-serif;
    margin:100;
    padding: 0;
   /* 加载背景图 */
background-image: url(./image/a.jpg);
/* 背景图垂直、水平均居中 */
background-position: center center;
/* 背景图不平铺 */
background-repeat: no-repeat;
/* 当内容高度大于图片高度时，背景图像的位置相对于viewport固定 */
background-attachment: fixed;
/* 让背景图基于容器大小伸缩 */
background-size: cover;
/* 设置背景颜色，背景图加载过程中会显示背景色 */
background-color: #fff;
}
div{
    width: 500px;
    height: 300px;
    background-color:transparent;
    border: 1px red solid;
    background-color: rgb(165 184 154);
    float: right;
    text-align: center;
    margin: 10% 0px;
}

p{
    color: red;
    text-align: center;
    font-size: 19px;

}
input{
    width: 200px;
    height: 20px;
    border-radius: 20px;
}
p>span{
    width: 160px;
    height: 36px;
    border: 1px rgb(9, 9, 9) solid;
    text-align: center;
    margin-left: 56px;
    color: black;
    margin-top: 35px;
    line-height: 36px;
    background-color: antiquewhite;
    display: block;
    border-radius: 20px;
}
.time {
    display: flex;
}