 body {
  font-family: Arial, sans-serif;
      padding: 0px 30px 0px 30px;
      margin: 0;
      /* 超出隐藏 */
      overflow: hidden;
      overflow-y: auto;
      background-color:#e2e2e2;;
      text-align: center;
    }
.logo-img{
    width: 76px;
    height: 46px;
      border: 1px red solid;
      border-radius: 20px;
    }

    nav {
      background-color: #fefefe;
      overflow: hidden;
      display: flex;
      align-items: center;
      /* width: 100%; */
      padding-right: 30px;
      margin-top: 30px;
      /* margin-left: 70px; */
    }
    .menu{
      background-color: #76b076;
      width: 100%;
      margin-top: 3px;
      /* img{
        margin-top: 7px;
      } */
    }

    nav a {
      float: left;
      /* 块级元素 */
      display: block;
      /* color: rgb(254, 254, 254); */
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      cursor: pointer;
      display: block;
      width: 100px;
      text-align: center;
      line-height: inherit;
      cursor: pointer;
      color: #424242;
      font-size: 14px;
      font-weight: bold;
    }
    h2{
        color: #f0eeee;
    }
h4{
  margin: 0;
  padding: 2;
}
    nav img {
      width: 50px;
      height: 50px;
      float: left;
    }
    .img{
      border-radius: 50%;
    }
    nav a:hover {
      background-color: #034550;
      color: rgb(120, 210, 232);
    }

    section {
      /* css中弹性盒子 */
      display: flex;
      flex-wrap: wrap;
    }

    #ads {
      width: 98%;
      height: 400px;
      text-align: center;
      padding: 13px;
      margin: 5px auto;
      background-color: #f0f0f0;
    }

    #ads div {
      width: 100%;
      height: 100%;
      margin: 0 auto;
      /* background-image: url(./08.png); */
      color: aquamarine;
      background-size: 100% 100%;
    }
#ads img{
    width: 100%;
    height: 100%;
}
    #main-content {
      overflow: hidden;
      width: 100%;
      display: flex;
      justify-content: center;
    }
    .menu{
      background-color: #76b076;
      width: 100%;
      margin-top: 3px;
      margin-bottom: 5px;
      margin-left: 15px;
      img{
        margin-top: 0px;
      }
    }
    .content-item {
      width: 900px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;
      margin: 0px auto;
      .left-section {
        width: 350px;
        box-sizing: border-box;
        padding: 10px;
        height: 317px;
        margin-bottom: 25px;
        border: 1px solid #ffff;
    }
    }

    
    .left-section h2 {
      color: #666666!important;
      /* margin-left: -120px; */
    }

    .left-section img {
        /* border-radius: 50%; */
        width: 210px;
        height: 250px;
        display: block;
        margin-bottom: 20px;
        margin-left: 28px;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    
    h2,
    p {
      margin: 0;
    }

    #middle-section {
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      width: 100%;
      height:460px;
      background-color: #f0eeee;
      box-sizing: border-box;
      padding: 10px;
      padding-left: 200px;
      padding-right: 200px;
      padding-bottom: 50px;
      margin: 30px 0px 50px 0px;
    }
    #middle-section img{
        width: 240px;
        height: 150px;
    }
    #middle-section span{
     width: 700px;
  }
    #middle-section p{
      margin-left: 23px;
    }
    .left{
        display: flex;

    }
    .left span{
        margin: 21px;
    }
    .right-2 {
      
      width: 20%;
      background-color: #fff;
      transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      cursor: pointer;
    }


    .right-2 div {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      margin: 0 auto;
      padding: 10px 30px;
    }

    .left-section{
      cursor: pointer;
      transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      img{
        margin-left: 60px;
      }
    }

    

    footer {
      background-color: #5b1919;
      color: white;
      text-align: center;
      padding: 10px;
      height: 5vh;
      /* position: absolute; */
      width: 100%;
      bottom: 0;
    }



    .ul-lia {
      list-style: none;
      /* 清除列表原有样式 */
      background-color: rgb(33, 232, 70);
      width: 130px;
      top: 79px;
      left: 520px;
      position: absolute;
        z-index: 1;
      display: none;
    }
    .huaru:hover .ul-lia {
      display: block;
    }
    .ul-lia>p {
      padding: 0px;
      height: 35px;
      line-height: 35px;
      color: #EEEEEE;
      font-size: 12px;
      cursor: pointer;
      border-bottom: 1px rgb(26, 25, 25) solid;
    }
    
    .ul-lia>p:hover {
      background-color: rgb(130, 6, 6);
      color: antiquewhite;
    }
    
    .ul-lib {
      list-style: none;
      /* 清除列表原有样式 */
      background-color:  rgb(33, 232, 70);
      width: 130px;
      top: 79px;
      left: 650px;
      position: absolute;
        z-index: 1;
      display: none;
    }
    .huarua:hover .ul-lib {
      display: block;
    }
    .ul-lib>p {
      padding: 0px;
      height: 35px;
      line-height: 35px;
      color: #EEEEEE;
      font-size: 12px;
      cursor: pointer;
      border-bottom: 1px rgb(46, 46, 46) solid;
    }
    
    .ul-lib>p:hover {
      background-color: rgb(111, 5, 5);
      color: antiquewhite;
    }