/*通用类*/
* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0 auto;
  font-size: 14px;
  background: #ffffff;
  color: #000;
  position: relative;
}
img {
  border: none;
}
a {
  cursor: pointer;
  color: #000;
  text-decoration: none;
  outline: none;
}
ul {
  list-style-type: none;
}
em {
  font-style: normal;
}
.lt {
  float: left;
}
.rt {
  float: right;
}
div.clear {
  font: 0px Arial;
  line-height: 0;
  height: 0;
  overflow: hidden;
  clear: both;
}
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

.wrapin {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
header {
  height: 50px;
  background: #b6261e;
}
.nav li {
  line-height: 50px;
  float: left;
  width: 20%;
  text-align: center;
  font-size: 16px;
}
.nav li a {
  color: #ccc;
}
.banner {
  display: block;
}
.banner img {
  width: 100%;
  height: 500px;
  display: block;
}
.con {
  padding: 15px;
  background: #fff;
}
.clock {
  float: right;
}
.clockleft {
  float: left;
}
.top .text {
  float: left;
  width: 50%;
  line-height: 26px;
}
.top .pic {
  float: right;
  width: 40%;
  margin-top: 20px;
}
.top .pic img {
  width: 400px;
  height: 300px;
  object-fit: cover;
}
.top1 .text {
  float: right;
  width: 50%;
  line-height: 26px;
}
.top1 .pic {
  float: left;
  width: 40%;
}
.top1 .pic img {
  /* max-width: 100px; */
  width: 400px;
  height: 300px; /* 设置固定的高度 */
  object-fit: cover; /* 使用 cover 进行裁剪 */
}
.title {
  padding: 20px 0;
}
.title h2 {
  color: #6b4c15;
}
.tupian ul {
  margin: 0 -15px;
}
.tupian ul li {
  width: 33.33%;
  float: left;
  padding: 15px;
  box-sizing: border-box;
}
.tupian ul li img {
  width: 100%;
  height: 230px;
  object-fit: cover;
  transition: transform 0.3s ease;
}
.tupian li:hover img {
  transform: scale(1.1);
}
footer {
  background: #b6261e;
  text-align: center;
  line-height: 50px;
}
.juese li {
  position: relative;
  height: 200px;
}
.juese li .pic {
  height: 160px;
  width: 160px;
  position: absolute;
  left: 0;
  top: 20px;
  border-radius: 160px;
  overflow: hidden;
  border: 1px solid #333;
}
.juese li .pic img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.juese li .text {
  margin-left: 180px;
  padding-top: 30px;
}

.juese li .text h2 {
  margin-bottom: 10px;
}

.juese li .text p {
  line-height: 26px;
}
.dropdown {
  display: inline-block;
  position: relative;
}

.nav .dropbtn {
  padding: 15px 20px;
}

.nav .dropdown-content {
  display: none;
  position: absolute;
  width: 100%;
  background-color: #b6261e;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.nav .dropdown-content a {
  display: block;
  padding: 15px 20px;
  text-decoration: none;
  color: #333;
}

.nav .dropdown-content a:hover {
  background-color: #f2f2f2;
}

.dropdown:hover .dropdown-content {
  display: block;
}
